.SearchBarContainer {
    margin: 2rem 0;
    width: 50%;
    align-self: flex-start;
}

.searchIcon {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchAutocompleteInput {
    height: 2.5rem;
    border-radius: 12px !important;
    background-color: var(--input-background) !important;
    outline: none;
}

.searchAutocompleteInput:global(.Mui-focused) {
    border: 1px solid var(--muted-foreground) !important;
    /* outline: 4px solid var(--ring); */
    box-shadow: 0 0 8px var(--ring);
}

/* Normal inner state */
.searchAutocompleteInput:global(.Mui-focused) :global(.MuiOutlinedInput-notchedOutline) {
    border: 0;
}

        /* Mobile */
@media only screen and (width <=480px) {
    .SearchBarContainer {
            width: 100%;
            align-self: center;
        }
}

/* Tablet */
@media only screen and (481px <=width <=1024px) {
    .SearchBarContainer {
        width: 80%;
        align-self: center;
    }
}
